@import url('https://fonts.google…com/css?family=Dancing+Script');

body{
  background:#02010a;
  font-family: 'Dancing Script';
  font-style:italic;
  color:#000f2c;
}
#Contenido{
  margin-left:auto;
  margin-right: auto;
  display:flex;
  flex-direction:column;
}

header{
  height:110px;
  background-color:#5b7989;
  -moz-border-radius:10px 10px 5px 5px;
  -webkit-border-radius: 10px 10px 5px 5px;
  order:1;
  animation:entrada 1s;
}

@-webkit-keyframes entrada{
  0%{
    margin-top:150%;
  }
  60%{
    margin-top:-5%;
  }
  100%{
    margin-top:0%;
  }
}
header #cabecera{
  float:left;
  width:50%;
  font-size:2.8em;
  color:white;
  text-shadow: 2px 2px 2px #02010a;
  margin-top:10px;
}
header #cabecera h1{
  margin-left:4%;
}

header #menu-principal{
  height:50%;
  width:50%;
  float:right;
  padding-top:4%;
  font-size:1.1em;
}

#menu-principal ul{
  list-style-type:none;
  overflow:hidden;
  height: 100%;
  margin-top:-4%;
  text-align:center;
}
#menu-principal li{
  display:inline;
  margin:0px 5px;
  padding: 0.5%;
  height:35%;
  text-align:center;
}

#menu-principal li a{
  text-decoration:underline;
  color:#ffffff;
  font-size-adjust: auto;
}

#menu-principal li a:hover{
  color:#86c4ff;
  text-decoration:none !important;
}

div img{
  display:table;
}
div img span{
  line-height:normal;
  font-size:0.8em;
  display:table-caption bottom;
  margin:0;
  text-align:left;
}
a{
  text-decoration:none;
  color:#666;
}
a:hover{
  text-decoration:line-through;
}
div [class*="bloque"]{
  max-height:550px;
  flex: 1 2 30%;
}

.contenedor1{
  width:100%;
  height:50%;
  background-color: #82c3a6;
  margin-top:1px;
  -moz-border-radius:8px;
  -webkit-border-radius: 8px;
  text-align:center;
  order:2;
}
.contenedor1 img{
  width:98%;
  margin:0.5%;
  -webkit-box-shadow: 2px 2px 2px #82c3a6;
  -moz-box-shadow: 2px 2px 2px #82c3a6;
}

.contenedor2 {
  display: flex;
  flex-flow: row;
  text-align:center;
  height:30%;
  margin:1px;
  order:3;
}
.contenedor2 h2 a:hover{
    text-decoration:none;
}
.bloque1{
  background-color:#d5c75f;
  order:2;
  margin:1px;
  padding:3%;
  -moz-border-radius:8px;
  -webkit-border-radius: 8px;
}
.bloque1 img{
  width:100%;
  border:solid 2px;
  -webkit-box-shadow: 2px 2px 2px #82c3a6;
  -moz-box-shadow: 2px 2px 2px #82c3a6;
}
.bloque1 img:hover{
  transform: translatex(20px)
            translatey(-5px);
  transition:all 1s;
}
.bloque2{
  background-color: #d5c75f;
  order:1;
  margin:1px;
  padding:3%;
  -moz-border-radius:8px;
  -webkit-border-radius: 8px;
}
.bloque2 img{
  width:100%;
  border:solid 2px;
  -webkit-box-shadow: 2px 2px 2px #82c3a6;
  -moz-box-shadow: 2px 2px 2px #82c3a6;
}
.bloque2 img:hover{
  transform: rotate(10deg);
  transition:all 1s;
}

footer{
  width:100%;
  background-color:#C6d5c5;
  -moz-border-radius:5px 5px 10px 10px;
  -webkit-border-radius: 5px 5px 10px 10px;
  display: flex;
  flex-flow: row ;
  text-align:justify;
  order:4;
}
.contacto{
  order:1;
  width:20%;
  float:left;
  text-align:left;
  padding:1%;
}
.terminos{
  order:2;
  width:25%;
  float:right;
  text-align:center;
  padding:0.1%;
}
.redes{
  order:3;
  width:25%;
  float:right;
  padding:0.1%;
}
.derechos{
  order:4;
  width:25%;
  float:rigth;
  padding:0.1%;
  text-align:right;
}

@media screen{
.contenido{
    width:900px !important;
  }
}

@media (max-width:900px){
header{
  height:170px !important;
  display:flex;
  flex-direction:column;
}
header #cabecera{
  width:100% !important;
  float:none;
  font-size:2.5em;
  text-align:center;
  order:0;
}
header #menu-principal{
  width:100% !important;
  float:none;
  align:center;
  text-align:center;
  order:1;
}
.contenido{
  width:100% !important;
  align:center;
}
.contenedor1{
  width:100%;
}
.contenedor2{
    display: flex;
    flex-flow: column;
    align-items:center;
    text-align:center;
    width: 99%;
  }
  .bloque1{
    order:1;
    width:98%;
  }
  .bloque2{
    order:2;
    width:98%;
  }
footer{
  display:flex;
  flex-flow:column;
  width:99%;
}
.contacto{
  width:inherit;
  order:3;
  text-align:center;
}
.terminos{
  width:inherit;
  order:1;
  text-align:justify;
}
.redes{
  width:inherit;
  order:2;
  text-align:center;
}
.derechos{
  width:inherit;
  order:4;
}
