@import url('https://fonts.google…com/css?family=Dancing+Script');

body{
  background:#02010a;
  font-family: 'Dancing Script';
  font-style:italic;
  color:#000f2c;
}
#Contenido{
  margin-left:auto;
  margin-right: auto;
  display:flex;
  flex-direction:column;
}

header{
  height:110px;
  background-color:#5b7989;
  -moz-border-radius:10px 10px 5px 5px;
  -webkit-border-radius: 10px 10px 5px 5px;
  order:1;
  animation:entrada 1s;
}

@-webkit-keyframes entrada{
  0%{
    margin-top:150%;
  }
  60%{
    margin-top:-5%;
  }
  100%{
    margin-top:0%;
  }
}
header #cabecera{
  float:left;
  width:50%;
  font-size:2.8em;
  color:white;
  text-shadow: 2px 2px 2px #02010a;
  margin-top:10px;
}
header #cabecera h1{
  margin-left:4%;
}

header #menu-principal{
  height:50%;
  width:50%;
  float:right;
  padding-top:4%;
  font-size:1.1em;
}

#menu-principal ul{
  list-style-type:none;
  overflow:hidden;
  height: 100%;
  margin-top:-4%;
  text-align:center;
}
#menu-principal li{
  display:inline;
  margin:0px 5px;
  padding: 0.5%;
  height:35%;
  text-align:center;
}

#menu-principal li a{
  text-decoration:underline;
  color:#ffffff;
  font-size-adjust: auto;
}

#menu-principal li a:hover{
  color:#86c4ff;
  text-decoration:none !important;
}

a{
  text-decoration:none;
  color:#666;
}
a:hover{
  text-decoration:line-through;
}
section {
  background-color:#d5c75f;
  text-align:center;
}/*
.imagen{
width:25%;
height:20%;
}
.imagenes1, .imagenes2 {
  width:100%;
  display:flex;
  flex-direction:row;

}
.imagenes1{
  padding:50px 0 50px 0;
}
.imagenes2{
  padding:50px 0 50px 0;
}
img{
  margin:auto;
}
#i1{
  order:1
  -webkit-filter:blur(10px);
  filter:blur(10px);
}
#i2{
  order:2;
  -webkit-filter:grayscale(100%);
  filter:grayscale(100%);
}

#i3{
  order:3;
  -webkit-filter:sepia(90%);
  filter:sepia(90%);
}

#i4{
  order:4;
  -webkit-filter:grayscale(100%);
  filter:grayscale(100%);
}

#i5{
  order:5;
}

#i6{
  order:6;
  -webkit-filter:grayscale(100%);
  filter:grayscale(100%);
}
*/
.paisaje{
  width: 25%;
  height: 20%;
}
section{
  background-color: #82c3a6;
}
.primero,.segundo{
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.primero{
  padding: 50px 0 0 0;
}
.segundo{
  padding: 50px 0 50px 0;
}
img{
  margin: auto;
}
.blur{
  filter: blur(10px);
}
.gris{
  filter: grayscale(100%);
}
.sepia{
  filter: sepia(90%);
}
@media (max-width:600px) {
  .paisaje{
    width: 75%;
    height: 80%;
  }
  .primero,.segundo{
    flex-direction: column;
  }
  .primero img{
    padding: 50px 0 0 0;
  }
  .segundo img{
    padding: 0 0 50px 0;
  }
}



footer {
  width:100%;
  background-color:#C6d5c5;
  -moz-border-radius:5px 5px 10px 10px;
  -webkit-border-radius: 5px 5px 10px 10px;
  display: flex;
  flex-flow: row ;
  text-align:justify;
  order:4;
}
.contacto{
  order:1;
  width:20%;
  float:left;
  text-align:left;
  padding:1%;
}
.terminos{
  order:2;
  width:25%;
  float:right;
  text-align:center;
  padding:0.1%;
}
.redes{
  order:3;
  width:25%;
  float:right;
  padding:0.1%;
}
.derechos{
  order:4;
  width:25%;
  float:rigth;
  padding:0.1%;
  text-align:right;
}

@media screen{
.contenido{
    width:900px !important;
  }
}

@media (max-width:900px){
header{
  height:170px !important;
  display:flex;
  flex-direction:column;
}
header #cabecera{
  width:100% !important;
  float:none;
  font-size:2.5em;
  text-align:center;
  order:0;
}
header #menu-principal{
  width:100% !important;
  float:none;
  align:center;
  text-align:center;
  order:1;
}
.Galeria{
  width:100% !important;
  align:center;
}
.Galeria img{
  float:none;
  border:solid 2px;
  margin:10px 0 0 10px;
  width:99%;
}

footer{
  display:flex;
  flex-flow:column;
  width:99%;
}
.contacto{
  width:inherit;
  order:3;
  text-align:center;
}
.terminos{
  width:inherit;
  order:1;
  text-align:justify;
}
.redes{
  width:inherit;
  order:2;
  text-align:center;
}
.derechos{
  width:inherit;
  order:4;
}
